
name: release
on:
  release:
    types:
      - created
  workflow_dispatch:

env:
  PROJECT_PATH: commet
  COMMET_PROD: 1

jobs:
  release-windows:
    runs-on: windows-2022
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: 'true'
        
      - name: Setup Flutter
        uses: subosito/flutter-action@v2.8.0
        with:
          flutter-version: '3.41.1'
          channel: 'stable'

      - name: Configure Flutter
        run: flutter config --enable-windows-desktop
        
      - name: Code Generation
        run: |
          cd .\commet
          git config --global core.longpaths true
          dart run scripts/codegen.dart

      - name: Build Windows App
        run: |
          cd .\commet
          dart run scripts/build_release.dart --platform windows --version_tag ${{ github.event.release.tag_name || 'v0.0.0-artifact' }} --git_hash ${{ github.sha }}

      - name: Archive 
        run: tar -a -c -f commet-windows.zip -C .\commet\build\windows\x64\runner\ Release
      
      - name: Upload to release
        if: github.event_name == 'release'
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: .\commet-windows.zip
          asset_name: commet-windows.zip
          asset_content_type: application/zip

      - name: Upload Artifact
        if: github.event_name == 'workflow_dispatch'
        uses: actions/upload-artifact@v4
        with:
          name: commet-windows.zip
          path: .\commet-windows.zip

  release-android-google-services:
    runs-on: ubuntu-latest
    steps:
      # we were having issues running out of disk space on workers, so...
      - name: Aggressive cleanup
        run: |
          # Remove .NET SDKs
          sudo rm -rf /usr/share/dotnet
  
          # Remove Haskell (GHC)
          sudo rm -rf /usr/local/.ghcup
  
          # Remove Julia
          sudo rm -rf /usr/local/julia*
  
          # Remove Chromium (optional if not using for browser tests)
          sudo rm -rf /usr/local/share/chromium
  
          # Remove Microsoft/Edge and Google Chrome builds
          sudo rm -rf /opt/microsoft /opt/google
  
          # Remove Azure CLI
          sudo rm -rf /opt/az
  
          # Remove CodeQL and other toolcaches
          sudo rm -rf /opt/hostedtoolcache
  
          docker system prune -af || true
          docker builder prune -af || true
          df -h
      
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: 'true'
        
      - name: Setup Flutter 
        uses: subosito/flutter-action@v2.8.0
        with:
          flutter-version: '3.41.1'
          channel: 'stable'

      - name: Setup Java
        uses: actions/setup-java@v1
        with:
          java-version: 17

      - name: Setup Tools
        run: |
          sudo apt-get update -y
          sudo apt-get install -y ninja-build libgtk-3-dev libmpv-dev mpv ffmpeg
        
      - name: Code Generation
        run: |
          cd $PROJECT_PATH
          git apply scripts/apply_google_services.patch
          dart run scripts/codegen.dart

      - name: Setup Signatures
        run: |
          cd $PROJECT_PATH
          dart run scripts/setup_android_release.dart --key_password ${{ secrets.ANDROID_KEY_PASSWORD }} --key_b64 ${{ secrets.ANDROID_KEY_STORE_B64 }}
          
      - name: Build APK
        run: |
          cd $PROJECT_PATH
          dart run scripts/build_release.dart --platform android --version_tag ${{ github.event.release.tag_name || 'v0.0.0-artifact' }} --git_hash ${{ github.sha }} --enable_google_services true --build_detail google_services
                    
      - name: Upload to release
        if: github.event_name == 'release'
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: commet/build/app/outputs/flutter-apk/app-release.apk
          asset_name: commet-android-google-services.apk
          asset_content_type: application/vnd.android.package-archive


      - name: Upload Artifact
        if: github.event_name == 'workflow_dispatch'
        uses: actions/upload-artifact@v4
        with:
          name: commet-android-google-services.apk
          path: commet/build/app/outputs/flutter-apk/app-release.apk

  release-web:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: 'true'
        
      - name: Setup Flutter 
        uses: subosito/flutter-action@v2.8.0
        with:
          flutter-version: '3.41.1'
          channel: 'stable'

      - name: Setup Tools
        run: |
          sudo apt-get update -y
          sudo apt-get install -y ninja-build libgtk-3-dev libmpv-dev mpv ffmpeg webkit2gtk-4.1 
        
      - name: Code Generation
        run: |
          cd $PROJECT_PATH
          dart run scripts/codegen.dart
      
      - uses: moonrepo/setup-rust@v1
      - run: rustup component add rust-src --toolchain nightly-x86_64-unknown-linux-gnu
      
      - name: Prepare web
        run: |
          cd $PROJECT_PATH
          ./scripts/prepare-web.sh

      - name: Build Web
        run: |
          cd $PROJECT_PATH
          dart run scripts/build_release.dart --platform web --version_tag ${{ github.event.release.tag_name || 'v0.0.0-artifact' }} --git_hash ${{ github.sha }}
      
      - name: Create archive
        run: |
          cd $PROJECT_PATH/build
          tar -czf commet-web.tar.gz web
      
      - name: Upload to release
        if: github.event_name == 'release'
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: commet/build/commet-web.tar.gz
          asset_name: commet-web.tar.gz
          asset_content_type: application/gzip

      - name: Upload Artifact
        if: github.event_name == 'workflow_dispatch'
        uses: actions/upload-artifact@v4
        with:
          name: commet-web.tar.gz
          path: commet/build/commet-web.tar.gz